[submodule "services/@snek-functions/template"]
	path = services/@snek-functions/template
	url = https://github.com/snek-functions/template
[submodule "services/@snek-functions/authentication"]
	path = services/@snek-functions/authentication
	url = https://github.com/snek-functions/authentication
[submodule "services/@snek-functions/origin"]
	path = services/@snek-functions/origin
	url = https://github.com/snek-functions/origin
[submodule "services/@snek-functions/log"]
	path = services/@snek-functions/log
	url = https://github.com/snek-functions/log
[submodule "services/@snek-functions/iam"]
	path = services/@snek-functions/iam
	url = https://github.com/snek-functions/iam.git
[submodule "services/@snek-functions/registration"]
	path = services/@snek-functions/registration
	url = https://github.com/snek-functions/registration.git
[submodule "services/@snek-functions/email"]
	path = services/@snek-functions/email
	url = https://github.com/snek-functions/email.git
