[submodule "services/@snek-functions/template"]
	path = services/@snek-functions/template
	url = https://github.com/snek-functions/template
[submodule "services/@snek-functions/authentication"]
	path = services/@snek-functions/authentication
	url = https://github.com/snek-functions/authentication
[submodule "services/@snek-functions/origin"]
	path = services/@snek-functions/origin
	url = https://github.com/snek-functions/origin
[submodule "services/@snek-functions/log"]
	path = services/@snek-functions/log
	url = https://github.com/snek-functions/log
[submodule "services/@snek-functions/iam"]
	path = services/@snek-functions/iam
	url = https://github.com/snek-functions/iam.git
[submodule "services/@snek-functions/registration"]
	path = services/@snek-functions/registration
	url = https://github.com/snek-functions/registration.git
[submodule "services/@snek-functions/email"]
	path = services/@snek-functions/email
	url = https://github.com/snek-functions/email.git
[submodule "deployments/photonq/ansible"]
	path = deployments/photonq/ansible
	url = https://github.com/CDL-Uni-Vienna/photonq-ansible.git
[submodule "services/photonq/cdl-django"]
	path = services/photonq/cdl-django
	url = https://github.com/CDL-Uni-Vienna/photonq-cdl-django.git
[submodule "packages/@snek-at/functions"]
	path = packages/@snek-at/functions
	url = https://github.com/snek-at/functions.git
[submodule "apps/photonq-jaen"]
	path = apps/photonq-jaen
	url = https://github.com/CDL-Uni-Vienna/photonq-jaen
